nav{
    padding: 10px;
}
main{
    display: flex;
    flex-direction: column;
}

footer{
    width: 100vw;
    position: absolute;
    bottom: 0;
}

#salsicha{
    max-width: 355px;
    filter: drop-shadow(5px 5px 45px #1e5249);
}

@media (max-width: 600px){
    #salsicha{
        max-width: 255px;
    }
}