body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main{
    display: flex;
    flex-direction: column;
    flex: 1; 
}

#salsicha{
    max-width: 355px;
    filter: drop-shadow(5px 5px 45px #1e5249);
}

@media (max-width: 600px){
    #salsicha{
        max-width: 255px;
    }
}