@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* cores de background */
    --background: #1e5249;
    --background-body: #ffffff;
    --background-button: white;
    /* cores de texto */
    --titles-color: #013030;
    --p-color: #236d6d;
    --details-color: white;
    /* demais */
    --button-border: rgba(36, 130, 119, 1);
}

body {
    display: flex;
    flex-direction: column;
    flex: 1;
    /* background: rgb(153, 226, 180);
    background: radial-gradient(circle, rgba(153, 226, 180, 1) 11%, rgb(27, 100, 92) 100%); */
    background-color: var(--background-body);
    color: #0e3b3b;
    font-family: "Open Sans", sans-serif;
    font-size: 25px;
}

nav {
    position: fixed;
    width: 100vw;
    display: flex;
    background-color: var(--background);
    justify-content: space-between;
    align-items: center;
    z-index: 1;

    & ul {
        display: flex;
        align-items: center;
    }
}



main {
    display: grid;
    gap: 25px;
    row-gap: 5vh;
    margin: 0 auto 5vh;
    width: 70vw;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 90vh repeat(3, 1fr);
    text-align: center;
    align-items: center;

    & .foto {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        & img {
            max-width: 450px;
            border-radius: 100%;
            filter: drop-shadow(5px 5px 10px #0e2723);
        }
    }

    /* posições no grid */
    & #sobreMim {
        
        grid-column: 2/3;
        grid-row: 1/2;
    }

    & #tragetoria {
        grid-column: 1/3;
        grid-row: 2/3;
    }

    & #projetos {
        grid-column: 1/3;
        grid-row: 3/4;
    }
}

footer {
    background-color: var(--background);
    padding: 15px;
    color: var(--details-color);
    display: flex;
    justify-content: space-between;
    align-items: center;

    & .logo {
        margin-right: 20px;
    }
}


h1,
h2 {
    color: var(--titles-color);
    font-family: "Playfair Display", serif;
}

h1 {
    font-size: 4rem;
    animation:
        saltos 5s steps(30) 1s 1 normal both,
        piscapisca 700ms infinite normal;
}

h2 {
    font-size: 2rem;
    margin: 15px auto;
}

a {
    text-decoration: none;
    color: var(--details-color);
}

li {
    display: inline;
    margin: 15px 2vw;

}

button {

    display: inline-block;
    cursor: pointer;
    border-radius: 500px;
    border: 2px solid var(--button-border);
    min-width: 100px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    background-color: var(--background-button);
    height: 50px;
    color: var(--button-border);

    &:hover {
        transition: transform .2s;
        transform: scale(1.2);
    }
}

textarea {

    width: 50%;
    color: rgb(36, 35, 42);
    height: 40px;
    border-radius: 4px;
    border: none;
    background: rgb(163, 224, 185);
    transition: all 0.1s ease 0s;
    margin: 20px auto;
}


.logo {
    max-width: 50px;
    height: 40px;
    margin-left: 20px;
}

.dev {
    font-weight: 700;
    color: var(--p-color);
    position: relative;
    margin: 2vh auto;
    width: 80%;

}

.cursor {
    position: relative;
    margin: 0 auto;
    border-right: 5px solid rgba(255, 255, 255, .75);
    white-space: nowrap;
    overflow: hidden;
}

/* animações */
@keyframes saltos {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes piscapisca {
    from {
        border-right-color: rgba(255, 255, 255, .75);
    }

    to {
        border-right-color: transparent;
    }
}